<h1>Seja Bem Vindo(a) à CJR Class</h1>

<p>Você acabou de se cadastrar no nosso Mailer com o nome de: "<%= @user.name %>".</p>

<%= image_tag attachments['homer_naked_church.gif'].url, alt: 'Homer Pelado', class: 'photos' %>